h1{
    width:100vw;
    margin-bottom: 1vh;
}
body{
    background-color: rgb(245, 243, 243);
}

.btn-close-red {
  filter: invert(27%) sepia(193%) saturate(6135%) hue-rotate(356deg) brightness(99%) contrast(1005%);
}