 .sleeping{
    pointer-events: none;
    opacity: 0.3
}

.full-width{
    width:100vw;
    margin-bottom: 1vh;
}
.table-centered{
    top:200px !important;
    left: 100px !important;
    bottom: 100px !important;
    width:90vw;
    position: absolute;
    overflow: auto;
   /* margin-top:11vh;*/
}
.inline-h1{
    display:"inline";
}

.star-yellow {
    color: #ffc107
}