.central{
    width: 60vw;
    height: 48vh;
}
input{
    margin:0 auto;
}
.background-card-color{
    background-color: rgb(245, 243, 243);
}
h1{
    margin-bottom:6vh;
    z-index:2;
}
.border-header-margin{
    margin-bottom: 1vh;
}
.margin-card{
    margin-top:10vh;
}
p{
    margin-right:5vw;
}
a{
    margin-bottom:0vh;
}
.border-card{
    overflow: auto;
}
.margin-header{
    width:100%
}

.no-padding{
    padding:0rem !important;
}
.alert-pos{
    top:0px !important;
    left:0px !important;
    position: absolute;
    padding-left:0px;
    width:100vw;
}
.non-displayed{
    display:none;
}